<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ika Vue test</title>
    <script type="text/javascript" src="vue.global.js"></script>
</head>
<body>
    <div id="ika-demo">
        <h2>Ika Demo with VueJS</h2>
        <ika-input 
            tag:f="firstName"
            tag:lastName="lastName"
            v-on:match="handleIkaMatch"
        ></ika-input>

        <form>
            <div class="control">
                <label for="firstname">Firstname</label>
                <input type="text" v-model="firstName" class="input is-primary" />
            </div>
            <div class="control">
                <label for="lastname">Lastname</label>
                <input type="text" v-model="lastName" class="input is-primary">
            </div>
            <div class="control">
                <label for="dob">Date Of Birth</label>
                <input type="text" v-model="dateOfBirth" class="input is-primary">
            </div>
            <div class="control">
                <label for="eyecolor">Eye Color</label>
                <input type="text" v-model="eyeColor" class="input is-primary">
            </div>
            <div class="control">
                <label for="languages">Gender</label>
                <p>
                    <label class="label"><input type="radio" v-model="gender" value="Male"> Male</label>
                    <label class="label"><input type="radio" v-model="gender" value="Female" > Female</label>
                    <label class="label"><input type="radio" v-model="gender" value="Not telling"> Not Saying</label>
                </p>
            </div>
            <div class="control">
                <label for="languages">Languages</label>
                <p>
                    <label class="label"><input type="checkbox" name="languages[]" value="java"> Java</label>
                    <label class="label"><input type="checkbox" name="languages[]" value="python"> Python</label>
                    <label class="label"><input type="checkbox" name="languages[]" value="go"> Go</label>
                </p>
            </div>
            <button class="button is-success">Submit</button>
        </form>
    </div>
    </div>

    <script type="text/html">

    </script>
    <script type="text/html" id="ika-input-template">
        <div id="ika-apa">
            <textarea v-model="ikaRawText" 
                id="nndi--ika-txt" 
                tabindex="1" 
                rows=1 
                cols=160 
                style="display: block"
                v-on:keypress="handleKeypress"></textarea>
            <button id="nndi--ika-btn" @click="populate">Populate (Ctrl + Enter)</button>
        </div>
    </script>

    
    <script type="text/javascript">
    
    let IkaComponent = {
        name: 'ika-input',
        props: [ 'tags' ],
        emits: [ 'match' ],
        template: document.getElementById('ika-input-template').innerHTML,
        data() {
            return  {
                __tagRegexp: /(\w+\b\:)/g,
                ikaRawText: ''
            }
        },
        methods: {
            handleKeypress(event) {
                if (event.keyCode == 13 && event.ctrlKey) {
                    this.writeTagsToMappedVueModel()
                }
                return event;
            },
            populate(event) {
                event.preventDefault();
                this.writeTagsToMappedVueModel()
                return false;
            },
            generateMappingFromAttributes() {
                const mapping = {}
                for (var el in this.$attrs) {
                    if (el.startsWith("tag:")) {
                        mapping[el.replace("tag:", "")] = {
                            event: 'ika:' + el,
                            field: this.$attrs[el]
                        }
                    }
                }

                return mapping
            },
            /**
             * Parses tagged text with the given input mapping
             * 
             * @param string textInput tagged text input
             * @param object mapping of tag to input element
             * @return object with mapping of input to value from the tagged text
             */
            writeTagsToMappedVueModel() {
                let textInput = this.ikaRawText, 
                    mapping = this.generateMappingFromAttributes();
                
                if (textInput == null || textInput === '') {
                    return null;
                }

                let output = new Map()

                const atoms = textInput.split(this.__tagRegexp);
                var currentTag = null;
                var lastElementWasTag = false;
                let el = null;

                for (var value of atoms) {
                    if (this.__tagRegexp.test(value)) {
                        currentTag = value.trim().replace(":", "");
                        lastElementWasTag = true;
                        continue;
                    }
                    if (! currentTag) {
                        continue
                    }
                    el = mapping[currentTag] || mapping[currentTag.toLowerCase()];
                    
                    if (lastElementWasTag && el) {
                        var formattedValue = value.trim()
                            .replace(/^\'/gm, "")
                            .replace(/\'$/gm, "")
                            .replace(/^\"/gm, "")
                            .replace(/\"$/gm, "")
                            .trim();

                        //this.$emit(el.event, el.field)
                        const eventName = "match";
                        //const eventName = 'update:' + el.field; 
                        
                        const eventData = {
                            tag: currentTag,
                            fieldName: el.field,
                            value: formattedValue.trim(),
                        }
                        this.$emit(eventName, eventData)

                        output.set(el, formattedValue.trim());
                        lastElementWasTag = false;
                    }
                }

                if (output.size == 0) 
                    return null;

                return output;
            }
        }
    }

    let IkaVuePlugin = {
        install: (app, options) => {
            app.provide('ika', options)            
            app.component('ika-input', IkaComponent)
        }
    }

    let IkaDemo = {
        data() {
            return {
                firstName: 'Test',
                lastName: '',
                dateOfBirth: '',
                eyeColor: '',
                gender: '',
            };
        },

        methods: {
            handleIkaMatch({ tag, fieldName, value}) {
                this[fieldName] = value
            }
        }
    }

    Vue.createApp(IkaDemo).use(IkaVuePlugin).mount("#ika-demo");

    </script>
</body>
</html>